body {
  font-family: Arial, "Helvetica Neue", sans-serif;
}

.container {
  border: 2px solid #D4D4D4;
  border-radius: 4px;
  margin: 80px 60px 0 60px;
  padding: 40px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 2em;
  grid-template-areas:
    "banner banner banner banner banner banner banner banner banner banner banner banner"
    "main main main main main main main main main main main main";
}

.container__header {
  grid-area: banner;

  max-height: 200px;
  overflow: hidden;
}

.container__header img.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container__main {
  grid-area: main;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
}

@media (max-width: 599px) {
  .container__main {
    grid-template-areas:
      "one one one one one one one one one one one one"
      "two two two two two two two two two two two two"
      "three three three three three three three three three three three three";
  }
}

@media (min-width: 600px) {
  .container__main {
    grid-template-areas:
      "one one one one one one one one one one one one"
      "two two two two two two two two two two two two"
      "three three three three three three three three three three three three";
  }
}

@media (min-width: 900px) {
  .container__main {
    grid-template-areas: "one one one one two two two two three three three three";
  }
}

@media (min-width: 1200px) {
  .container__main {
    grid-template-areas: "one one one one two two two two three three three three";
  }
}

@media (min-width: 1800px) {
  .container__main {
    grid-template-areas: "one one one one two two two two three three three three";
  }
}

#player-one {
  grid-area: one;
}

#player-two {
  grid-area: two;
}

#player-three {
  grid-area: three;
}

.player {
  border: 2px solid #EDEDED;
  border-radius: 4px;
  padding: 10vh 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player .title {
  color: #9A9A9A;
  margin-bottom: 10px;
  max-width: 150px;
  text-align: center;
}

.player .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player .form .form__input {
  border: 1px solid #D4D4D4;
  border-radius: 4px;
  margin-bottom: 10px;

  width: 80px;
  height: 30px;
}

.player .form .form__submit {
  background: #6DA537;
  border-color: #4D7028;
  border-radius: 4px;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 8px 15px;
}
